@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">

    .tableFloatingHeaderOriginal th {
        background-color: #fff;
    }
</style>

<table id="lalala" class="table table-hover">
    <thead>
        <tr>
            <th>Label</th>
            <th>Layout width</th>
            <th>Column width</th>
            <th>Gutter width</th>
        </tr>
    </thead>
    <tr>
        <td>
            zzz 23 
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
    <tr>
        <td>
            zzz
        </td>
        <td>
            asaas
        </td>
    </tr>
</table>


@section Scripts {


    <script src="~/Scripts/jquery.stickytableheaders.min.js"></script>
    <script>
        $(function() {
            $("#lalala").stickyTableHeaders();
            }
        );

    </script>
}