@using System.Web.Hosting

<br>
<br>
<br>
<form class="form-signin" role="form" method="post" style="width:300px;">
    <h4 class="form-signin-heading">Please sign in</h4>
    <input type="password" class="form-control" placeholder="Password" required name="password">
    <button class="btn btn-md btn-default btn-block" type="submit">Sign in</button>
</form>

