<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <bypasslist>
        <clear />
      </bypasslist>
      <proxy proxyaddress="http://ntc-usrpxy.eu.erac.com:8080" usesystemdefault="False" bypassonlocal="True" autoDetect="False" />
    </defaultProxy>
  </system.net>
  <appSettings>
    <!-- Work account -->
    <add key="googleApiKey" value="AIzaSyDwW2YD7SqZEr2iX3vApZ48vBRvCIKRsJ4" />
    <!-- Personal account -->
    <!--
  <add key="googleApiKey" value="AnQtRTA47D0MTu-BJKTzoMddX38Yx5JvxykNry2N_pQ6sLPA04fm3FDxJ0iO1Qmf"/>-->
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>